ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
}

li a:hover {
  background-color: #b4b4b49a;
  size: 100cm;
  
}
.vl {
    border-left: 0.1px solid #b4b4b49a;
    height: 1000px;
    position: absolute;
    left: 50%;
    top: 0;
  }

textarea{
  height: 15rem;
  display: flex;
  flex-direction: row;
  padding: 0.6rem;
  resize: none;

}
  
label{
  margin-left: 0.4rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

#form_div{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0.5;
}
form{
  margin: 0rem 1rem 5rem 1.5rem;
  width: 50%;
}
